<div>
  <p><strong>Order ID:</strong> <%= order.id %></p>
  <p><strong>Product Name:</strong> <%= order.product_name %></p>
  <p><strong>Product Count:</strong> <%= order.product_count %></p>
  <p><strong>Customer Name:</strong> <%= order.customer.full_name %></p>
</div>